* {
    border: none;
  }

html, body {
    background-color: #B81C3C;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Quicksand';
    scroll-behavior: smooth;
    color: #fff;
}

section {
    height:100vh;   
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}


#header{
    background-color: #fff;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
    z-index: 10;
}

a#logo{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    width: 30%;
    background-image:url(../assets/autograph.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.navigation{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

a.link{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

section#home{
    display: flex;
    justify-content: center;
    
}

#home-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
    margin-top: 150px;
    width: 70%;
}

#picture{
    background: url(../assets/me.jpg) no-repeat center;
    background-size: cover;
    margin: 0px 30px;
    width: 50%;
    height: 100%;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .5); 
    position: relative;
    z-index: 1;

}

#pictureText{
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
    font-size: 14pt;
    width: 80%;
    height: 100%;
}

#pictureText p{
    padding:0;
    margin:0;
}

section#portfolio{
    position:relative;
    color: #fff;
    font-size:32pt;
    font-weight: lighter;
    padding-top:100px;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    background: #b81c3c;
    overflow: hidden;
}
.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.background span:nth-child(0) {
    color: #ffffff;
    top: 56%;
    left: 46%;
    animation-duration: 12s;
    animation-delay: -39s;
    transform-origin: -5vw 20vh;
    box-shadow: 2vmin 0 0.9842305870180899vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffffff;
    top: 16%;
    left: 46%;
    animation-duration: 35s;
    animation-delay: -34s;
    transform-origin: -22vw -5vh;
    box-shadow: 2vmin 0 0.2706372976580679vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffffff;
    top: 33%;
    left: 74%;
    animation-duration: 46s;
    animation-delay: -2s;
    transform-origin: -3vw -3vh;
    box-shadow: 2vmin 0 0.354881039626893vmin currentColor;
}
.background span:nth-child(3) {
    color: #ffffff;
    top: 72%;
    left: 82%;
    animation-duration: 54s;
    animation-delay: -19s;
    transform-origin: 6vw -11vh;
    box-shadow: -2vmin 0 0.6176809790592082vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffffff;
    top: 2%;
    left: 93%;
    animation-duration: 23s;
    animation-delay: -4s;
    transform-origin: -7vw -11vh;
    box-shadow: -2vmin 0 0.382224620750932vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffffff;
    top: 13%;
    left: 5%;
    animation-duration: 18s;
    animation-delay: -13s;
    transform-origin: -13vw 21vh;
    box-shadow: 2vmin 0 0.4512600445780325vmin currentColor;
}
.background span:nth-child(6) {
    color: #ffffff;
    top: 90%;
    left: 12%;
    animation-duration: 36s;
    animation-delay: -16s;
    transform-origin: 19vw 18vh;
    box-shadow: 2vmin 0 0.8516007100748073vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffffff;
    top: 14%;
    left: 76%;
    animation-duration: 18s;
    animation-delay: -26s;
    transform-origin: 22vw 24vh;
    box-shadow: -2vmin 0 0.7479696289544371vmin currentColor;
}
.background span:nth-child(8) {
    color: #ffffff;
    top: 40%;
    left: 61%;
    animation-duration: 13s;
    animation-delay: -38s;
    transform-origin: 22vw 21vh;
    box-shadow: -2vmin 0 0.47121792366424486vmin currentColor;
}
.background span:nth-child(9) {
    color: #ffffff;
    top: 70%;
    left: 30%;
    animation-duration: 16s;
    animation-delay: -30s;
    transform-origin: 12vw -13vh;
    box-shadow: -2vmin 0 0.7824922918075434vmin currentColor;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}


#webdev{
    position:absolute;
    top: 10%;
    left: 5%;
    padding:10%;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
    cursor: pointer;
}
  
#mobdev{
    position:absolute;
    top: 50%;
    right: 5%;
    padding:10%;
    transform: transtranslatey(0px);
	animation: float 6s alternate-reverse infinite;
    cursor: pointer;
}

#dotnetdev{
    position:absolute;
    top: 20%;
    right: 5%;
    padding:10%;
    transform: translatey(0px);
	animation: float 6s ease-in infinite;
    cursor: pointer;
}

#uxui{
    position:absolute;
    top: 35%;
    left: 5%;
    padding:10%;
    transform: translatey(0px);
	animation: float 6s reverse infinite;
    cursor: pointer;
}

section#contact{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#pic1{
    background: url(../assets/girl.png) no-repeat center;
    background-size: contain;
    width: 30%;
    height:100%;
    margin-right: 5%;
    margin-left: 10%;
}

#cta{
    margin-bottom: 20px;
    font-size: 20pt;
}

#form{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

form{
    width: 100%;
}

input{
    height: 25px;
    margin-top: 10px;
}

textarea{
    margin-top: 10px;
}

#name{
    display: flex;
    flex-direction: row;
}

#fname{
    width: 100%;
    margin-right: 10%;
}

#lname, #email, #message{
    width: 100%;
}

#submit{
    margin: 0;
    padding: 0;
    margin-right: -4px;
    float: right;
}

#submit input{
    font-family: 'Quicksand';
    background-color: black;
    color: #fff;
    font-weight: lighter;
    font-size: 14pt;
    width: 150px;
    height: 50px;
}

#plants{
    width: 30%;
    height: 100%;
    position:relative;
    margin-right: 10%;
}

#pic2{
    background: url(../assets/plantsdown.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 50%;
    bottom: 150px;
    right: 100px;
    position: absolute;
}

#pic3{
    background: url(../assets/plantsup.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 50%;
    bottom: 250px;
    right: 0px;
    position: absolute;
}